# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local configuration / Secrets
.env
db.sqlite3

# Environments
env/
venv/
ENV/

# Django-specific
media/
staticfiles/

gunicorn.ctl
*.ctl